body {
    padding-top: 56px;
    padding-bottom: 28px;
    color: #5a5a5a;
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    background-color: #777;
}

.carousel-item > img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 702px;
}

.carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}





.carousel-caption p,h1,
.carousel-caption p a {
    font-weight: bold;
}

.navbar-brand {
    padding-top: 2px;
    padding-bottom: 2px;
}

[v-cloak-nav] {
    color: #343a40 !important;
}

[v-cloak-carousel] {
    display: none;
}
